*{
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}


.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13vh;
    background-color:white;
}

.loggaRuta{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
    height: 100px;
    width: 100px;
    background-color:white;
    box-shadow: 0px 10px 20px black;
}

.menyText{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}

.menyknappContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    height: 13vh;
    margin-left: 50px;
}

.videoContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    height: 70vh;
}

.video{
    display: flex;
    flex-direction: center;
    height: 100%;
    max-width: 100%;
    flex-direction: column;
}


.bilarHeader{
    color: black;
    display: flex;
    height: 16vh;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 6px;
}

.bilarTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17vh;
}

.page2Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 117vh;

}

.containerRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%
}

.containerColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}


.bilBild{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
    transition: 0.3s;
    overflow-x: hidden;
}

.bilBild:hover{
    transform: scale(1.03);
    opacity: 100%;
    
}

@media (max-width:600px){
    .containerRow{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 150%;
    }
    .page2Container{
        height: 300vh;
        justify-content: flex-start;
    }
    .bilarTextContainer{
        margin-top: -100px;
    }
    .bilarHeader{
        font-size: 14px;
    }
    .bilBild{
        width: 100vw;
    }
    .video{
        width: 100vh;
        height: 110%;
    }
    
    
}



.logga{
    display: flex;
    scale: 100%;
    height: 100px;
    width: 100px;
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 36px;

  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  #menyKnapp {
    background-color:#111;
    color:#818181;
    border-width: 0px;
    margin-left: 25px;
    font-size: 20px;
  }

  #menyKnapp:hover{
    color: #f1f1f1;
  }